body {
  font-family: "Open Sans";
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
}

#headerContainer {
  position: fixed;
  right: 0px;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
}

#userbubble {
  position: relative;
  top: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background: rgb(230, 230, 230);
}

#geolocation {
  position: fixed;
  bottom: 50px;
  left: 0;
  height: 5%;
  width: 100%;
}

#geoContainer {
  position: fixed;
  bottom: 70px;
  left: 20px;
  text-align: center;
  height: 30px;
  width: 100px;
}

hr {
  position: fixed;
  bottom: 40px;
  width: 100%;
  color: rgb(128, 128, 128);
}

#bot-bar {
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 5%;
  width: 100%;
}

#left {
  position: fixed;
  height: 50px;
  width: 20%;
  left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#right {
  position: fixed;
  height: 50px;
  width: 20%;
  left: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

span {
  font-size: 15px;
  position: relative;
  top: 14px;
  text-align: center;
  padding: 5px;
  color: rgb(128, 128, 128);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
